<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icon-font.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="author" content="Kondratenko Alexey">
    <meta name="keywords"  content="приключение, шары,летающий шар">
    <link rel="icon" href="icons/Icon-logo.png" type="image/x-icon">
    <meta name="description"  content="Если ищите незабываемый отдых с семьей или друзьями, мы готовы предложить вам лучшие туры и впечатления на любой вкус!"> 
    <title>Ballons</title>
</head>
<body>

    <div class="container">
        <div class="navigation">
            <input type="checkbox" class="navigation__toggle" id="navin-toggle">
            <label for="navin-toggle" class="navigation__button">
                <span class="navigation__icon"></span>
            </label>
            <div class="navigation__background"></div>
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="about" class="navigation__link">о нас</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">скидки</a></li>
                    <li class="navigation__item"><a href="best-tour" class="navigation__link">лучшие туры</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">калькулятор цены</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link">связаться с нами</a></li>
                </ul>
            </nav>
        </div>



        <main>
            <section class="section-about_us">   
                <div class="text-align-center margin-bottom-80px">
                    <h1 class="title-first">
                        <span class="title-first__main">о нашем проекте</span>
                    </h1>
                </div>
                
                <div class="row">
                    <div class="about-card">
                        
                        <div class="about-card__box">
                            <h3 class="title-third margin-bottom-10px"> в чем идея</h3>
                            <p class="paragraph"> Данный проект создан в рамках курса web-программирование<br>НИУ МИЭТ<br> Москва,Зеленоград 2024 </p>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="about-card">
                        
                        <div class="about-card__box">
                            <h3 class="title-third margin-bottom-10px">Соцсети</h3>
                            <p class="paragraph">  
                                <b>whatsapp</b>: 8 (920) 176 08 22<br>
                                <b>instagram</b>(запрещено в РФ): @kondr_alexey<br>
                                <a href="https://t.me/rekondr"><b>telegram:</b> @rekondr<br></a>
                                <a href="mailto:kondratenkoalexey9@gmail.com"><b>email</b>: kondratenkoalexey9@gmail.com</a><br>
                            </p>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="about-card">
                        <figure class="about-card__img">
                            <img src="/static/img/author.jpg" alt="persone">
                            <figcaption class="about-card__name">Алексей
                                Кондратенко</figcaption>
                        </figure>
                        <div class="about-card__box">
                            <h3 class="title-third margin-bottom-10px">Автор проекта</h3>
                            <p class="paragraph"> <i>"вместо пар хожу в зал"</i></p><br><br><br>
                        </div>
                        
                    </div>
                </div>

            </section>

            

            
        </main>
        <footer class="footer">
            <div class="row text-align-center">
                <a href="#">
                    <img src="/static/icons/Icon-logo.svg" alt="logo" class="footer__logo">
                </a>
            </div>
            <div class="row">
                <ul class="footer__list">
                    <li class="footer__item"><a href="about.html" class="footer__link">о нас</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">скидки</a></li>
                    <li class="footer__item"><a href="best-tour.html" class="footer__link">лучшие туры</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">калькулятор цены</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">связаться с нами</a></li>
                </ul>
            </div>
        </footer>
        
    </div>
    
</body>
</html>
